@charset "utf-8";
html{
  width: 100%;
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
header{
  background-color: white;
}
.title{
  display: flex;
  justify-content: space-between;
}
.title img{
  width: 15%;
  height:10%;
  padding:1%;
}
.title ul{
  list-style: none;
  display: flex;
}
.title li{
  margin: 10px 10px;
}
/*-------------------------------------------
サムネイル
-------------------------------------------*/
.thumbnail{
  margin-top: 1%;
}
.thumbnail img{
  position: relative;
  margin-left: 40%;
  display:block;
  width: 60%;
}
.commit h1{
  color: red;
  font-size: 300%;
  position: absolute;
  top: 15%;
  left: 23%;
  font-family: serif;
}
.commit h3{
  color: red;
  font-size: 20px;
  font-family: serif;
  position: absolute;
  top: 35%;
  left: 24%;
}
.commit p{
  font-size: 13px;
  position: absolute;
  top: 38%;
  left: 24%;
}
.commit span{
  color: skyblue;
}

/*-------------------------------------------
News
-------------------------------------------*/
.news{
  width: 50%;
  margin: 5% 0% 10% 30%;
}
.second-title span{
  color: red;
  font-size: 10px;
  font-family: Georgia;
}
.list{
  display:inline;
  width: 10%;
}
.list ul{
  width: 80%;
  border-top: solid;
  border-bottom: 1px solid;
  padding: 1% 2% 2% 0%;
  display: inline-block;
}
.list li{
  width: 98%;
  list-style: none;
  padding: 3%;
  border-bottom:1px solid rgba(0,0,0,0.3);
}
.list span{
  background-color: red;
  color: white;
  margin: 0% 1% 1% 1%;
  padding: 1.1%;
  border-radius: 30px;
}

/*-------------------------------------------
about
-------------------------------------------*/
.about-box{
  background-color: rgba(84, 80, 80, 0.3);
  width: 100%;
  height: 40%;
}
.consept span{
  color: red;
  font-size: 10px;
  font-family: serif;
}
.consept h2{
  text-align: center;
}
.about-container{
  display: flex;
  justify-content: space-between;
}
.about-text p{
  padding-left:30%;
  display: inline-block;
}
.about-photo img{
  width: 400px;
  padding: 2% 140px 4% 0%;
}

/*-------------------------------------------
service
-------------------------------------------*/
.service{
  width: 100%;
}
.service-header{
  margin:1% 0% 2% 20%;
}
.service-header span{
  color: red;
  font-size: 10px;
  font-family: serif;
}
.wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10%;
}
.wrap service-item{
  display: flex;
  flex-direction: column;
  height: 10%;
}
.service-text{
  width: 35%;
  height: 20%;
  background-color: rgb(255, 2, 145);
  text-align: center;
  padding-top: 3%;
}
.service-text h3{
  text-align: center;
  color: white;
}
.service-text p{
  text-align:justify;
  padding: 2% 3% 3% 3%;
  color: white;
}
.img-text{
  width: 30%;
  position: relative;
}
.service-item{
  width:150%;
  height: 50%;
  background-color:rgb(255, 2, 171);
}
.service-box{
  display: flex;
  flex-direction: column;
}
.education {
  color: black;
  display: inline-block;
  position: absolute;
  text-align: justify;
  color: white;
}
.service-topics{
  width:150%;
  height: 50%;
  background-color:rgb(205, 203, 203);
}
.bisiness{
  color: black;
  display: inline-block;
  position: absolute;
  text-align: justify;
  color: white;
}

/*-------------------------------------------
Blog
-------------------------------------------*/
.blog{
  background-color:rgba(234, 234, 234, 0.7);
  width: 100%;
  margin-top: 7%;
}
.blog h2{
  margin-left: 90px;
}
.blog span{
  color: red;
  font-size: 10px;
  font-family: serif;
}
.blog-logo-mini span{
  background-color: red;
  color: white;
  font-size: 15px;
  display: inline;
  width: 5%;
  height: 3%;
  padding-top: 1%;
  border-top-left-radius: 20px;
  position: absolute;
  z-index: 5;
  text-align: center;
}
.blog-box{
  display:flex;
  justify-content:space-around
}
.blog-box img{
  text-align: center;
  z-index: 0;
}
.blog-list{
  background-color: white;
  width: 30%;
  border-radius: 20px;
  margin-bottom: 2%;
}
.blog-category{
  background-color: white;
  width: 300px;
  border-radius: 20px;
  margin-bottom: 2%;
}
.blog-tag{
  background-color: white;
  width: 300px;
  border-radius: 30px;
  margin-bottom: 3%;
}
.blog-category p{
  margin:2%;
  padding: 2%;
}
.blog-box img{
  width: 100%;
  height: 20%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.blog-box li {
  list-style-type: none;
}
.blog-text-category{
  display: flex;
  justify-content: space-between;
}
.blog-text-category p{
  margin-left: 10px;
}
.blog-company p{
  display: inline-block;
  margin: 5% 40px 0% 0%;
}
.link{
  background-color: rgba(234, 234, 234, 0.3);
  width: 100%;
  height: 50%;
  padding-bottom:2.5%;
}
.link p{
  font-weight: bold;
  background-color: white;
  color: red;
  padding: 2% 3%;
  border-radius: 50px;
  text-align: center;
  border: solid 3px;
  margin: 1% 40%;
}
/*-------------------------------------------
Company
-------------------------------------------*/
.company{
  width: 70%;
  margin: 5% 15% 10% 15%;
}
.company span{
  color: red;
  font-size: 10px;
  font-family: serif;
}
.company dl{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border:  0.1px solid;
}
.company dt{
  width: 15%;
  padding: 2%;
  background-color: rgba(114, 114, 114, 0.2);
  border-bottom: 0.1px solid;
}
.company dd{
  width: 75%;
  margin: 0;
  padding: 2.5%;
  border-bottom: 0.1px solid;
}

/*-------------------------------------------
detail
-------------------------------------------*/
.detail{
  display: flex;
  width: 100%;
  justify-content:space-around;
  position: relative;
}
.company-info-text h2{
  color:white;
  font-size: 30px;
  position: absolute;
  left: 7%;
  top: 21%;
}
.interview{
  position: relative;
}
.interview h2{
  color:white;
  display: inline;
  font-size: 30px;
  position: absolute;
  top: 30%;
  left: 35%;
}

/*-------------------------------------------
お問い合わせ
-------------------------------------------*/
.contact{
  text-align: center;
  margin-top: 7%;
}
button{
  font-size: 20px;
    background-image: linear-gradient(90deg, rgba(246, 165, 158, 1), rgba(252, 149, 148, 1) 17% 23%, rgba(253, 146, 146, 1) 36%, rgba(209, 254, 212, 1));
  color: white;
  width: 20%;
  height: 80px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 8px 
  gray;
  position: relative;
  z-index: 0
}
.contact h3{
  margin-bottom: 70px;
}
.ri-mail-line{
  font-size: 30px;
  color: white;
  margin-top: 2%;
  margin-left: 2%;
  position: absolute;
  z-index: 5;
}

/*-------------------------------------------
footer
-------------------------------------------*/
.footer{
  text-align: center;
  margin-top: 7%;
  }